<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<% if @user %>
  <p>Hello <%= @user.name %></p>
  <form action="/logout" method="POST">
    <button type="submit">Log out</button>
  </form>
  <a href="/my_spaces">My spaces</a>
  <a href="/bookings">My bookings</a>
  <a href="/owner_bookings">Bookings of my listings</a>
<% else %>
  <form action="/login">
    <button type="submit">Log in</button>
  </form>
  <form action="/signup">
    <button type="submit">Sign up</button>
  </form>
<% end %>

<% @spaces.each do |space| %>
  <%= space.name %><br>
  <%= space.description %><br>
  £<%= space.price %> ppn<br>
  <form action="/book_space" method="POST">
    <input type="hidden" name="id" value="<%= space.id %>"/>
    <input type="hidden" name="date_of_booking" value="<%= Date.today %>"/>
    <button type="submit">Book</button>
  </form>
  <br>
<% end %>

</body>
</html>